doctype html
html
  head
    meta(http-equiv='Content-Type', context='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='')

    title

    link(rel='stylesheet' type='text/css' href='/build/bootstrap.css')
    link(rel='stylesheet' type='text/css' href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' type='text/css' href='/build/styles.css')

  body
    block body
    block scripts
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/twitter/dist/js/bootstrap.min.js")
    if (settings.env === "development")
      script(src="http://localhost:22746/livereload.js")